body {
    background-color: #4c5f7a;
    color: ghostwhite;

}

button {
    display: block;
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

button:focus{background-color:lightblue;}

#makeChar {
    display: flex;
    justify-content: center;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#charContainer {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(245, 245, 139);
    background-image: url(https://wallpapercave.com/wp/wp2902991.jpg);
    width: 500px;
}

